In [3]:
import pandas as pd
#import requests

url = "https://en.wikipedia.org/wiki/Comma-separated_values"

dfs = pd.read_html(url)

print(len(dfs))

2

In [5]:
print(dfs[1])

   Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                        Description   Price
0                     ac, abs, moon  3000.0
1                               NaN  4900.0
2                               NaN  5000.0
3  MUST SELL!air, moon roof, loaded  4799.0

In [6]:
# Get first table                                                                                                           
df = dfs[1]

# Extract columns                                                                                                           
df2 = df[['Year','Make','Model','Description','Price']]
print(df2)

   Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                        Description   Price
0                     ac, abs, moon  3000.0
1                               NaN  4900.0
2                               NaN  5000.0
3  MUST SELL!air, moon roof, loaded  4799.0

In [7]:
# Save table to csv
df2.to_csv('panda scraping.csv')